modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
ADMIN_EMAIL = "syanmedtechadmen@gmail.com"
B2_S3_ENDPOINT = "https://s3.ca-east-006.backblazeb2.com"
B2_BUCKET = "mytestvideo"
SIGNING_SECRET = "0e7c24aec7dc6c97057b791e5d7e25893c04bbd5b9eccea0ad47d2d9ecf3614b"
SUPABASE_DATABASE_URL = "postgresql://postgres.ttnoggyuysgjtbstaxvr:LBi3Wp3Xw%HiDPn@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres"
VIMEO_ACCESS_TOKEN = "76be4d0b2eafc460ea82fc0be41e522c"
LMS_HMAC_SECRET = "a41afc36c3216bc49b9e780ed4004dfa847a3c26446d1a216be6cecf836bf5d6"
ALLOWED_LMS_ORIGINS = "https://simple-lmstest-production.up.railway.app/"
B2_APPLICATION_KEY = "K006ZfDUjKf6VzQy7AzoaSwWsJRooqI"
B2_KEY_ID = "006a54c2d7114110000000002"
R2_ACCESS_KEY_ID = "be01a2c65c60151a37bd6345a29a8069"
R2_SECRET_ACCESS_KEY = "85ed97e68a2c80910a9ad6636284c726e00645c4bc6b6d25bbb7b15398e077f6"
R2_ENDPOINT = "https://e85e4b54f24a7b76dddcc285693f42ac.r2.cloudflarestorage.com"
R2_REGION = "Auto"
ADMIN_PASSWORD = "Pak@1234"
HLS_GATEWAY_BASE = "https://syan-video-gateway.ahmadmedtech01.workers.dev"

[agent]
expertMode = true
